.board {
  display: grid;
  grid-template-columns: repeat(3, 140px); /* 각 셀의 너비를 140px로 설정 */
  grid-template-rows: repeat(3, 140px); /* 각 셀의 높이를 140px로 설정 */
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.square {
  width: 140px;
  height: 140px;
  border-radius: 15px;
  background: var(--Semi-Dark-Navy, #1F3641);
  box-shadow: 0px -8px 0px 0px #10212A inset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; /* .header의 높이를 설정 */
}

.button-refresh-button {
  margin:0;
  border-radius: 10px;
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: #1A2A33;
  display: flex;
  justify-content: center; /* 버튼 안의 이미지가 중앙에 오도록 설정 */
  align-items: center;
}

.button-refresh-button:hover {
  background-color: #1A2A33;
}

.symbol {
  width: 60px;
  height: 60px;
}

.hover-symbol {
  position: absolute;
  width: 140px;  /* Increase the size of the hover image */
  height: 140px; /* Increase the size of the hover image */
  opacity: 0.5;  /* Slight transparency to show that it's a hover effect */
  transition: width 0.3s ease, height 0.3s ease; /* Smooth size transition */
}

.turn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Semi-Dark-Navy, #1F3641);
  box-shadow: 0px -4px 0px 0px #10212A inset;
  padding: 0 10px; /* 이미지와 텍스트 사이의 간격 */
}

.turn-image {
  width: 24px;  /* 이미지 크기 설정 */
  height: 24px;
  margin-right: 10px; /* 텍스트와 이미지 사이의 간격 */
}

.turn-text {
  color: #A8BFC9;  /* 텍스트 색상 */
  font-size: 16px;
  font-weight: bold;
}

.logo {
  width: 71.97px;
  height: 32px;
  flex-shrink: 0;
}

.current-turn {
  width: 50px;
  height: auto;
}

.score-board {
  display: flex;
  justify-content: space-around;
  margin-top: 19px;
  gap:20px;
}

.score-box {
  border-radius: 15px;
  background: var(--Silver, #A8BFC9);
  text-align: center;
  width: 140px;
  height: 72px;
  color: var(--Dark-Navy, #1A2A33);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body */
  font-family: 'Outfit', sans-serif; /* 기본 글꼴 설정 */
}

.score-box h3 {
  margin:13px 0 0 0;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.875px;
}

.score-box p {
  color: var(--Dark-Navy, #1A2A33);
  font-feature-settings: 'liga' off, 'clig' off;
  margin: 0;
  /* Heading (Medium) */
  font-family: 'Outfit', sans-serif; /* 기본 글꼴 설정 */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
