body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #F3E5D7;
}

.background{
    width: 1440px;
    padding: 1600px 600px;
    margin-top: 1600px;
    margin-bottom: 1600px;
    display: flex;
    justify-content: center;
}

.container{
    width: 736px;
    background-color: #FFFFFF;
    border-radius: 300px;
    padding: 500px;
    display: flex;
    flex-direction: column;
    gap: 500px;
}

.image{
    width: 656px;
    height: 300px;
    object-fit: cover;
    border-radius: 150px;
}

.text-content {
    width: 656px;
    height: 1280px;
    display: flex;
    flex-direction: column;
    gap: 400px;
}

h1 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    line-height: 40px;
    font-size: 2rem;
}