body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'League Spartan', sans-serif;
    width: 1440px;
    height: 800px;
}

.bg-pattern-top {
    position: absolute;
    top: 0;
    left: 0;
}

.bg-pattern-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* title */
.main-heading {
    position: absolute;
    width: 445px;
    height: 154px;
    top: 118px;
    left: 165px;
    color: #512051;
    font-size: 56px;
    font-weight: 700;
    line-height: 48px;
}

/* sub-text */
.sub-heading {
    position: absolute;
    width: 445px;
    top: 300px;
    left: 165px;
    color: #927B91;
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
}

/* review-box */
.box {
    position: absolute;
    width: 445px;
    height: 56px;
    background-color: #F7F2F7;
    border-radius: 8px;
}

/* review-box 16px 간격 반영 */
.box1 { top: 130px; left: 750px; }
.box2 { top: calc(130px + 56px + 16px); left: 750px; }
.box3 { top: calc(130px + (56px + 16px) * 2); left: 750px; }

/* 5. Star 이미지 */
.star {
    position: absolute;
    top: 20px;
    left: 32px;
}

/* review 텍스트 */
.rating-text {
    position: absolute;
    top: 22px;
    left: 181px;
    color: #512051;
    font-size: 17px;
    font-weight: 700;
}

/* 가로 방향 박스 */
.horizontal-box {
    position: absolute;
    width: 350px;
    height: 234px;
    background-color: #512051;
    border-radius: 8px;
}

.box-colton { top: 470px; left: 165px; }
.box-irene { top: 470px; left: 545px; }
.box-anne { top: 470px; left: 925px; }

/* 이미지 */
.customer-img {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
}

/* 이름 텍스트 스타일 */
.customer-name {
    position: absolute;
    top: 30px;
    left: 95px;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
}

.customer-status {
    position: absolute;
    top: 50px;
    left: 95px;
    color: #EE69A4;
    font-size: 17px;
    font-weight: 400;
}

/* 10. 리뷰 텍스트 */
.review-text {
    position: absolute;
    top: 100px;
    left: 32px;
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    max-width: calc(350px - 64px); /* 박스 너비에서 좌우 32px 여백을 제외 */
    word-wrap: break-word; /* 긴 단어가 있을 경우 자동으로 줄바꿈 */
}