.background {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0; /* 기본 여백 제거 */
}

.path {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 80vw;  /* 최대 너비를 화면의 80%로 제한 */
    max-height: 80vh; /* 최대 높이를 화면의 80%로 제한 */
    width: auto;      /* 자동 너비 조정 */
    height: auto;     /* 자동 높이 조정 */
}

.path2 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80vw;  /* 최대 너비를 화면의 80%로 제한 */
    max-height: 80vh; /* 최대 높이를 화면의 80%로 제한 */
    width: auto;      /* 자동 너비 조정 */
    height: auto;     /* 자동 높이 조정 */
}

.title-container {
    display: flex;
    flex-direction: column; 
    position: absolute;
    top: 50px; 
    left: 165px;
    width: 445px; 
    color: #512051;
    margin-bottom: 20px;
}

.title {
    font-size: 56px; 
    font-weight: 800;
    line-height: 48px; 
    letter-spacing: -2px;
    margin-bottom: 15px; 
}

.subtitle {
    color: #927B91;
    font-size: 19px; 
    font-weight: 500;
    margin-bottom: 30px; 
    line-height: 25px; 
}

.container2 {
    display: flex;
    flex-direction: column; 
    position: absolute;
    top: 118px; 
    left: 700px; 
    width: 445px; 
    gap: 20px; 
    color: #512051;
}

.box_s {
    display: flex;
    align-items: center;
    background: #F7F2F7;
    border-radius: 8px;
    width: 100%; 
    height: 56px; 
    gap: 32.45px; 
}

.star {
    margin-left: 32px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row; 
    position: absolute;
    top: 434px;
    left: 165px; 
    width: calc(100% - 330px); 
    gap: 20px; 
}

.box_B {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 225px;
    background: #512051;
    border-radius: 8px;
    padding: 20px;
    color: white;
}
.box_B_content {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; 
}

.b_title_subtitle {
    display: flex;
    flex-direction: column;
}
.b_title {
    font-size: 17px;
    font-weight: 700;
}

.bolder {
    font-weight: bold;
}

.b_subtitle {
    font-size: 17px;
    color: #EE69A4;
    font-weight: 400;
}

.b_text {
    margin-top: 10px;
    width: 100%;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 22px;
}

